.h1 {
    font-size: 55px !important;
    text-align: left;
align-self: auto;
  }

  .center {
  margin :auto;
    margin-left: 500px;
    
    
   
    
  }
  #main {
    width: 200px;
    border: 1px dotted black;
  }
  h1 {
    margin: 0;
      display: inline-block;
  }
  button {
    float: right;
  }