@import '~antd/dist/antd.less';
@import "./theme";

.an-banner-form {
  .ant-input-password-icon{
    color: @primary-on-input;
  }

  .ant-input-affix-wrapper-lg {
    padding: 13.5px 11px;
  }

  .ant-btn-lg{
    padding: 13.5px 11px;
    height: 54.14px;

  }

  .ant-input-lg{
    padding: 13.5px 11px;
  }

  .ant-picker-large{
    padding: 13.5px 11px;
  }

  .ant-picker {

    @apply tw-block hover:tw-border-primary tw-border-transparent;
  }

  .ant-picker-focused{
    @apply tw-border-primary;
  }

  .ant-upload.ant-upload-select-picture-card{
    @apply tw-w-full tw-text-on-primary-light;
  }

  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
    background: @primary-input;
  }
}


.an-banner{
  @apply tw-flex tw-flex-col tw-relative md:tw-h-full tw-items-center md:tw-items-start tw-justify-center;

  &-- {
    &type {
    @apply tw-text-4xl tw-font-bold tw-mb-2;
    }

    &name{
    @apply tw-text-primary tw-font-bold tw-mt-1 tw-mb-0 tw-text-3xl;
    }

    &tagline {
    @apply tw-font-semibold tw-text-xl;
    }

    &action--wrapper{
    @apply tw-hidden md:tw-block;
    }

    &action--description{
    @apply tw-mb-0 tw-mt-5;
    }

    &action--link {
    @apply tw-text-primary tw-font-semibold;
    }

    &action--prefix{
    @apply tw-m-0;
    }

    &image{
    @apply tw-absolute tw-left-64 tw-bottom-0 tw-hidden md:tw-block;
    }

  }


}

.an-header-icons{
  @apply tw-text-icon;
}

.an-avatar-text {
  line-height: 19px;
  @apply tw-text-icon;

  .an-avatar-text-username{
    @apply tw-font-bold tw-m-0 tw-p-0 tw-text-black;
  }

  .an-avatar-text-account{

  }
}

.ant-layout {
  .ant-layout-header{
    @apply tw-px-2 lg:tw-px-3  xl:tw-px-10 xxl:tw-px-16     ;
  }
}

.an-navbar {

  .an-header-icons{
    @apply tw-text-icon;



  }

  .an-avatar-text {
    line-height: 19px;
  @apply tw-text-icon;

    .an-avatar-text-username{
    @apply tw-font-bold tw-m-0 tw-p-0 tw-text-black;
    }

    .an-avatar-text-account{

    }
  }

  .an-navbar-button{
    @apply tw-font-bold tw-px-6;
  }

  .an-navbar-button-active{
    @apply tw-bg-primary-light tw-text-primary;
  }
}


.ant-alert {
  @apply tw-mb-5;
}

.an-avatar-uploader{

  .ant-upload-select-picture {
    @apply tw-w-full;
  }



  .ant-upload-list-picture{
    @apply tw-pr-1 tw-max-h-72 tw-overflow-auto;
  }

  .ant-upload-list-picture::-webkit-scrollbar {
    @apply tw-w-5;
  }

  .ant-upload-list-picture::-webkit-scrollbar-track {
    @apply tw-bg-primary-light tw-rounded-2xl;
  }

  .ant-upload-list-picture::-webkit-scrollbar-thumb {
    @apply tw-bg-primary tw-rounded-2xl tw-border-4 tw-border-transparent tw-border-solid tw-bg-clip-content tw-bg-primary;
  }
}


.test-list-parent{
  li {
    display: inline-block;
    margin: 0 5px;
    float : left;
  }
}

.organization-select-dropdown{
  .ant-popover-inner-content{
    @apply tw-pt-0;
  }
}


